* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Añadir margen cero para evitar espacios no deseados */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

body .contenedor {
    background: linear-gradient(45deg, rgb(99, 94, 94), rgb(235, 235, 235));
    font-size-adjust: central;
    width: 100%;
    margin-bottom: 500px;
    text-align: center;
    margin-bottom: 0px;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    padding: 8px 25px;
}

h2, p {
    color: #000; /* Corregir el color (debería ser #000 en lugar de 000) */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    min-width: 340px;
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    box-shadow: 0 0 0 2px #000;
    height: calc(100vh - 8px);
    margin-top: 80px;
    background: linear-gradient(45deg, rgb(99, 94, 94), rgb(235, 235, 235));
}

.sidebar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
}

.game-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinear la parte superior del game-area con la parte superior de la sidebar */
    flex-direction: column;
    min-width: 450px;
    padding: 20px; /* Añadir un poco de espacio alrededor del contenido de game-area */
    margin-left: 344px; /* Sumar el ancho de la sidebar y el margen izquierdo para evitar superposiciones */
}

.game-area img {
    width: 700px; 
    height: auto; /* Esto mantiene la proporción original de la imagen */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}




